.createWrap {
    width: 60%;
    margin: 10px auto;
    overflow: hidden;

    --blue-clr: #219ebc;
    --yellow-clr: #ffb703;
}

.createWrap * {
    font-size: 15px;
}

.selectFileWrap {
    display: flex;
    align-items: center;
}

.selectFileWrap input[type=file] {
    display: none;
}

.selectFileWrap p {
    color: #e0e0e0;
    margin: 0 0 0 .5em;
}

.fileInput {
    cursor: pointer;
    width: fit-content;
    min-width: fit-content;
    padding: .3em 1em;
    border-radius: 1em;
    color: var(--blue-clr);
    border: 1px solid var(--blue-clr);
    background-color: transparent;
    transition: background-color 100ms linear, color 100ms ease;
}

.fileInput:hover,
.fileInput:focus {
    color: #e0e0e0;
    background-color: var(--blue-clr);
}

.tagZone {
    margin: .7em 0;
}

.searchTags {
    position: relative;
    background-color: black;
}

.searchTags input[type=text] {
    width: 100%;
    outline: none;
}

.searchTags input[type=text]::placeholder {
    user-select: none;
    font-style: italic;
}

.searchResult {
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: black;
}

.searchResult > div {
    cursor: pointer;
}

.searchResult p {
    margin: 0;
    color: #fff;
    padding: .5em;
    user-select: none;
}

.imgZone {
    margin: .7em 0;
}

.submitButton {
    cursor: pointer;
    padding: .3em 1em;
    border-radius: .2em;
    color: var(--yellow-clr);
    background-color: transparent;
    border: 1px solid var(--yellow-clr);
    transition: background-color 120ms linear, color 100ms ease;
}

.submitButton:hover,
.submitButton:focus {
    color: #e0e0e0;
    background-color: var(--yellow-clr);
}

.selectImg {
    display: block;
    max-width: 100%;
}